{% extends "templates/base.html" %}

{% block content %}

  
  <ol class="breadcrumb mb-2">
    <li class="breadcrumb-item active">{{title}}</li>
  </ol>
  <div class="row">
    <div class="col-xl-12">

      <div class="card-header">
        Início
      </div>

      <div class="card-body">
        <div class="col-xl-5">

          <div>
            <h3>Trabalho para a Disciplina: <br><br> Desenvolvimento Web III</h3>
            <br>
            <p style="text-align: justify;">Software desenvolvido seguindo a arquitetura Cliente-Servidor visto nas aulas da disciplina.</p>
            <br>
            <b><p>Tech Lead:</b> Caio Pereira</p>
            <b><p>Programadores:</b> Erick Alves e Pablo Guedes</p>
            <br>
            <p style="text-align: justify;">O objetivo é criar um mini-módulo financeiro de um sistema ERP, 
            implementando tanto o back-end (APIs) quanto o front-end (interface gráfica) para fazer o 
            CRUD (Create, Read, Update, Delete) de duas tabelas relacionadas em um relacionamento 1:N 
            (um para muitos).</p>
          </div>
        </div>
      </div>
    </div>
  </div>





<script>
  window.onload = function () {
    windowOnLoad();

  };

</script>


{% endblock %}